body{
	background: #f0efe9;
	font-family: 'Varela Round', sans-serif;
}


.slide-in{
	animation: slide-in 0.3s ease;
}


@keyframes slide-in {
    0% { 
    	opacity: 0;
    	height: 0;
    }
    100% {
    	opacity: 1;
    	height: 20px;
    }
}

@keyframes blinker {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}